In [2]:
from collections import OrderedDict
from pprint import pprint

import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import preprocessing

In [3]:
df = pd.read_csv('train/train.csv')
df_colcount = pd.DataFrame({
    'columns': df.columns,
    'n_unique': [df[col].nunique() for col in df.columns]
})
colcount = OrderedDict((col, df[col].nunique()) for col in df.columns)
pprint(colcount)

OrderedDict([('Type', 2),
             ('Name', 9060),
             ('Age', 106),
             ('Breed1', 176),
             ('Breed2', 135),
             ('Gender', 3),
             ('Color1', 7),
             ('Color2', 7),
             ('Color3', 6),
             ('MaturitySize', 4),
             ('FurLength', 3),
             ('Vaccinated', 3),
             ('Dewormed', 3),
             ('Sterilized', 3),
             ('Health', 3),
             ('Quantity', 19),
             ('Fee', 74),
             ('State', 14),
             ('RescuerID', 5595),
             ('VideoAmt', 9),
             ('Description', 14032),
             ('PetID', 14993),
             ('PhotoAmt', 31),
             ('AdoptionSpeed', 5)])

In [7]:
df = df.fillna(value={'Name': 'No Name', 'Description': ''})
target = 'AdoptionSpeed'
y = df[target]
X = df.drop(columns=target)

col_txt = ['Description']
col_q = []
X_cat = X.drop(columns=col_txt+col_q)

In [12]:
ohe = preprocessing.OneHotEncoder()
print(X_cat.head())
ohe.fit(X_cat.reset_index(drop=True))
print(list(ohe.categories_))
X_oh = ohe.transform(X_cat.reset_index(drop=True))
print(X_oh.shape)
print(X_oh)

   Type         Name  Age  Breed1  Breed2  Gender  Color1  Color2  Color3  \
0     2       Nibble    3     299       0       1       1       7       0
1     2  No Name Yet    1     265       0       1       1       2       0
2     1       Brisco    1     307       0       1       2       7       0
3     1         Miko    4     307       0       2       1       2       0
4     1       Hunter    1     307       0       1       1       0       0

   MaturitySize  ...  Dewormed  Sterilized  Health  Quantity  Fee  State  \
0             1  ...         2           2       1         1  100  41326
1             2  ...         3           3       1         1    0  41401
2             2  ...         1           2       1         1    0  41326
3             2  ...         1           2       1         1  150  41401
4             2  ...         2           2       1         1    0  41326

                          RescuerID  VideoAmt      PetID  PhotoAmt
0  8480853f516546f6cf33aa88cd76c379         0  86e1089a3       1.0
1  3082c7125d8fb66f7dd4bff4192c8b14         0  6296e909a       2.0
2  fa90fa5b1ee11c86938398b60abc32cb         0  3422e4906       7.0
3  9238e4f44c71a75282e62f7136c6b240         0  5842f1ff5       8.0
4  95481e953f8aed9ec3d16fc4509537e8         0  850a43f90       3.0

[5 rows x 22 columns]
[array([1, 2]), array(['!', '! Med Long Fur Kittens', '!!! URGENT!!!', ...,
       'ð\x9f\x92\x97ð\x9f\x92\x97Solid Black Kittenð\x9f\x92\x97ð\x9f\x92\x97',
       'ð\x9f\x92\x9cð\x9f\x92\x9b 3 Kittens & A Mama ð\x9f\x92\x9cð\x9f\x92\x96',
       'ð\x9f\x92°ð\x9f\x90¾88ð\x9f\x90¾ð\x9f\x92°FattFatt'], dtype=object), array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  60,  61,  62,  63,  64,  65,  66,
        67,  68,  69,  72,  73,  74,  75,  76,  77,  78,  80,  81,  82,
        84,  85,  86,  87,  88,  89,  91,  92,  95,  96, 100, 102, 108,
       112, 117, 120, 122, 123, 132, 135, 144, 147, 156, 168, 180, 212,
       238, 255]), array([  0,   1,   3,   5,   7,  10,  11,  15,  16,  17,  18,  19,  20,
        21,  23,  24,  25,  26,  31,  32,  39,  42,  44,  49,  50,  56,
        58,  60,  61,  64,  65,  69,  70,  71,  72,  75,  76,  78,  81,
        82,  83,  85,  88,  93,  97,  98,  99, 100, 102, 103, 105, 108,
       109, 111, 114, 117, 119, 122, 123, 125, 128, 129, 130, 132, 139,
       141, 143, 145, 146, 147, 148, 150, 152, 154, 155, 165, 167, 169,
       173, 176, 178, 179, 182, 185, 187, 188, 189, 190, 192, 195, 197,
       199, 200, 201, 202, 203, 204, 205, 206, 207, 212, 213, 214, 215,
       217, 218, 224, 227, 228, 231, 232, 233, 234, 237, 239, 240, 241,
       242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254,
       256, 257, 260, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271,
       272, 273, 274, 276, 277, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 292, 293, 294, 295, 296, 297, 298, 299, 300,
       301, 302, 303, 304, 305, 306, 307]), array([  0,   1,   2,   4,   5,  10,  14,  16,  17,  18,  19,  20,  21,
        24,  25,  26,  36,  39,  40,  44,  49,  50,  58,  60,  65,  69,
        70,  72,  75,  76,  78,  83,  96,  98, 102, 103, 104, 109, 111,
       115, 117, 119, 122, 128, 129, 130, 141, 146, 147, 150, 152, 155,
       159, 167, 169, 173, 176, 178, 179, 182, 187, 188, 189, 190, 192,
       195, 200, 201, 202, 203, 204, 205, 206, 207, 210, 212, 213, 218,
       227, 228, 237, 239, 240, 241, 242, 243, 245, 246, 247, 248, 249,
       250, 251, 252, 254, 256, 257, 260, 262, 263, 264, 265, 266, 267,
       268, 270, 271, 272, 274, 276, 277, 278, 279, 282, 283, 284, 285,
       288, 289, 290, 291, 292, 293, 294, 295, 296, 299, 300, 301, 302,
       303, 304, 305, 306, 307]), array([1, 2, 3]), array([1, 2, 3, 4, 5, 6, 7]), array([0, 2, 3, 4, 5, 6, 7]), array([0, 3, 4, 5, 6, 7]), array([1, 2, 3, 4]), array([1, 2, 3]), array([1, 2, 3]), array([1, 2, 3]), array([1, 2, 3]), array([1, 2, 3]), array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 20]), array([   0,    1,    2,    5,    8,    9,   10,   14,   15,   20,   25,
         30,   35,   38,   40,   45,   48,   50,   59,   60,   65,   70,
         72,   75,   80,   88,   89,   90,   99,  100,  108,  110,  115,
        120,  125,  135,  150,  155,  160,  170,  180,  188,  190,  200,
        210,  220,  235,  250,  270,  280,  299,  300,  320,  330,  350,
        380,  385,  390,  400,  450,  480,  499,  500,  550,  599,  600,
        650,  688,  700,  750,  800, 1000, 2000, 3000]), array([41324, 41325, 41326, 41327, 41330, 41332, 41335, 41336, 41342,
       41345, 41361, 41367, 41401, 41415]), array(['0007e457eb0583479bb888d54764911f',
       '0008ef529da74e9701db7eaaa4d9115a',
       '000a5830787b64da2d61b0bbceb7676d', ...,
       'ffe9d666deaad333538c341dc3a39d9a',
       'ffed83297757c1c19681024e7ee670aa',
       'fff59afa6278380c938b2a5880ecae79'], dtype=object), array([0, 1, 2, 3, 4, 5, 6, 7, 8]), array(['0008c5398', '000a290e4', '000fb9572', ..., 'fffa39a6a',
       'fffd78a11', 'fffd9b5a8'], dtype=object), array([ 0.,  1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12.,
       13., 14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25.,
       26., 27., 28., 29., 30.])]
(14993, 30256)
  (0, 1)	1.0
  (0, 5989)	1.0
  (0, 9065)	1.0
  (0, 9335)	1.0
  (0, 9344)	1.0
  (0, 9479)	1.0
  (0, 9482)	1.0
  (0, 9495)	1.0
  (0, 9496)	1.0
  (0, 9502)	1.0
  (0, 9506)	1.0
  (0, 9510)	1.0
  (0, 9513)	1.0
  (0, 9516)	1.0
  (0, 9518)	1.0
  (0, 9521)	1.0
  (0, 9569)	1.0
  (0, 9616)	1.0
  (0, 12560)	1.0
  (0, 15223)	1.0
  (0, 22989)	1.0
  (0, 30226)	1.0
  (1, 1)	1.0
  (1, 6044)	1.0
  (1, 9063)	1.0
  :	:
  (14991, 15223)	1.0
  (14991, 28567)	1.0
  (14991, 30228)	1.0
  (14992, 0)	1.0
  (14992, 3053)	1.0
  (14992, 9063)	1.0
  (14992, 9343)	1.0
  (14992, 9478)	1.0
  (14992, 9479)	1.0
  (14992, 9483)	1.0
  (14992, 9489)	1.0
  (14992, 9496)	1.0
  (14992, 9503)	1.0
  (14992, 9506)	1.0
  (14992, 9510)	1.0
  (14992, 9513)	1.0
  (14992, 9516)	1.0
  (14992, 9518)	1.0
  (14992, 9521)	1.0
  (14992, 9540)	1.0
  (14992, 9619)	1.0
  (14992, 13151)	1.0
  (14992, 15223)	1.0
  (14992, 25018)	1.0
  (14992, 30226)	1.0

In [13]:
x = {'a':(1, 2), 'b': (2, 4), 'c': (3,8)}

14

In [ ]:
col_idx = [
    (emb_size[i-1], m) for i, (m, d) in enumerate([(0,0)] + emb_size)
][1:]